.points {
  background-color: $primary-color;
  padding: 100px 0;
  position: relative;
  overflow: hidden;

  @include media($b-md) {
    padding: 20px 0;
  }
  &__container {
    display: flex;
    @include media($b-md) {
      align-items: center;
      justify-content: center;
    }
  }


  &__info {
    color: #ffffff;
    width: 50%;
    @include media($b-md) {
      width: 80%;
    }
  }

  &__title {
    font-size: 1.625rem;
    margin: 0;
  }

  &__subtitle {
    font-size: 1.375rem;
    margin-top: 0;
  }

  &__text {
    font-size: 1rem;
  }
}

.bg {
  position: relative;

  @include media($b-md) {
    display: none;
  }
  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 100vw;
    height: 70vw;

    bottom: 50%;
    left: 100px;

    transform: translateY(calc(50%));
    border-radius: 50%;
    background-color: #fff;
  }
}